# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/db.php

# Word Fence logs
/web/app/wflogs/*

# Keep all 4m plugins
!web/app/plugins/*-4m/
!web/app/mu-plugins/*-4m/

web/app/mu-plugins/acf-widgets-4m/

runtime/*

# WordPress
web/wp

web/app/themes/*/dist

# htaccess file
web/.htaccess


.cache-loader
node_modules

# Dotenv
.env
.env.*
!.env.example
!.env.local
!.env.elastic-beanstalk.staging
!.env.elastic-beanstalk.production

.idea
# Composer
vendor/*
!vendor/.gitkeep
### WordPress template
*.log
advanced-cache.php
backup-db/
backups/
blogs.dir/
cache/
upgrade/
uploads/
wp-cache-config.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz


/logs/
!/web/
!/web/app/

# CSV exports
/runtime/csv-exports
