##
# Setup Notes
#
# Set the following environment variables in BitBucket pipelines settings
#
#  `APPLICATION_NAME=exampleApplicationName`                      - This is the the elastice beanstalk Application Name
#  `AWS_ACCESS_KEY_ID=JANSKFHBEWIVH`                              - create this API key in AWS IAM (check the 'secured' flag inside pipelines)
#  `AWS_SECRET_ACCESS_KEY=secretkey`                              - secret key from AWS IAM associated with your API ACCESS KEY
#  `AWS_DEFAULT_REGION=ap-southeast-2`                            - The region you want to work in (Sydney is ap-southeast-2)
#  `AWS_S3_BUCKET=elasticbeanstalk-ap-southeast-2-xxxxxxxxxxxx`   - The name of the S3 Bucket to upload the application versions.
##

# Start with 4mation's base PHP 7.1.0 image
# https://hub.docker.com/r/4mation/base-php-7.1.0/
image: 4mation/base-php-7.1.0

pipelines:
  branches:
    master:
      - step:
          script:
            ## Begin deployment
            - cp -f .env.elastic-beanstalk.production .env
            ## htaccess file
            - cp -f web/.htaccess.production web/.htaccess
            ## Webpack settings
            #- cp -f web/app/themes/sage/resources/assets/config.json.example web/app/themes/sage/resources/assets/config.json
            ## W3TC Configuration
            #- cp -f web/app/w3tc-config/master.php.production web/app/w3tc-config/master.php
            ## Enable htaccess
            # htpasswd -cb ./.htpasswd production st@ging
            ## Build our artifact
            - ./env/deploy/deploy.sh
            ## Zip our artifact and deploy to S3
            - ./env/deploy/buildDeployableArtifact.sh "production" APPLICATION_NAME AWS_S3_BUCKET
            ## done
    release-*:
      - step:
          script:
            ## Begin deployment
            - cp -f .env.elastic-beanstalk.staging .env
            ## htaccess file
            - cp -f web/.htaccess.staging web/.htaccess
            ## Webpack settings
            #- cp -f web/app/themes/sage/resources/assets/config.json.example web/app/themes/sage/resources/assets/config.json
            ## W3TC Configuration
            #- cp -f web/app/w3tc-config/master.php.staging web/app/w3tc-config/master.php
            ## Enable htaccess
            - htpasswd -cb ./.htpasswd staging st@ging
            ## Build our artifact
            - ./env/deploy/deploy.sh
            ## Zip our artifact and deploy to S3
            - ./env/deploy/buildDeployableArtifact.sh "staging" APPLICATION_NAME AWS_S3_BUCKET
            ## done